Please validate your email address in order to get started using Jade Tree.

{{ frontend_url('reg_confirm', token=confirm_token) }}

Has your token expired? Request a new confirmation email by visiting this link:
{{ frontend_url('reg_resend', email=email) }}

===============================================================================
This message was sent to {{ email }} by Jade Tree. If you did not request this
email, please report this to the system administrators using the below link:

{{ frontend_url('reg_cancel', token=cancel_token) }}
